button,
input {
  border: 1px solid transparent;
  outline: 0;
  font-family: inherit;
}

input {
  padding: 12px 15px;
  background-color: var(--bgc);
  border-radius: 10px;
  border: 1px solid transparent;

  transition: 200ms;

  &:is(:hover, :focus) {
    border-color: var(--prime-color);
  }
}



@media (max-width: 730px) {
  input,
  button {
    padding: 10px 12px;
  }
}
